@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;0,600;1,800&family=Pacifico&display=swap');

body, html {
    height: 100%;
}
.navbar {
    background-color: rgb(255,255,255);
        position: relative;
}
h1 {
    font-size: 100px;
    color: black;
    font-family: "Noto Serif Display 800 italic";
}
h2 {
    font-weight: bold;
    color: black;
    font-size: 150px;
    font-family: nimbus;
    text-align: center;
}
h3 {
    font-family: 'Noto Serif Display 400';
    font-size: 75px;
}
h4 {
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: nimbus;
}
p {
    color: black;
    font-family: 'Noto Serif Display 300';
}
p2 {
    color: white;
    font-size: 50px;
    font-family: nimbus;
    text-align: center;

}
p3{
    color: black;
    font-size: 20px;
    font-family: nimbus;
    text-align: center;
}
.logo-image {
    width: 190px;
    height: 75px;
    overflow: hidden;
    margin-top: -20px;
    margin-left: 10px;
}
/* GENEREL SLUT */

/* FOOTER START */
footer {
    background-color: rgb(255,255,255);
    width: 100%;
    height: 60px;
    clear: both;
}
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
}
.footer-phrase {
    display: flex;
    padding: 10px 0px 0px 35%;
}
.social {
    padding: 5px 10px 5px 10px;
}
.link-image {
    height: 35px;
    width: 35px;
}
/* FOOTER SLUT */

/* INDEX START */
.index-page {
    color: white;
    display: flex;
    flex-direction: column;
}
.slogan-container {
    background-image: url('https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/274213876_1245673155918649_2220102242020532911_n.png?_nc_cat=109&ccb=1-5&_nc_sid=ae9488&_nc_ohc=FXAQvfIKiAcAX-GRbv4&_nc_oc=AQk11eRXuvr_WOXYvyfr2Sjaz2oD_wgWxyEu62vhv-tEo7bwMdmQGby51AlUc3ftBYU&_nc_ht=scontent-cph2-1.xx&oh=03_AVL4snABO9w6_fULLWgYnnxNCLD8Wn7y7xF5MYWnE7MiLg&oe=6247C2E3');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}
.slogan {
    font-size: 100px;
    color: white;
    margin-top: 300px;
    font-family: nimbus;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.info-container {
    background-image: url('https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/274648813_677858210304322_5965814831507789523_n.png?_nc_cat=106&ccb=1-5&_nc_sid=ae9488&_nc_ohc=tDdrPdJWS7cAX_mwUfw&_nc_oc=AQnFCHRxPqAuAMzBqEUS-gsLIkYq5ePQBIDmT397kkWinzn0AeXX7YCgNlXhFJBnYvY&_nc_ht=scontent-cph2-1.xx&oh=03_AVIzUuwPDJuqQ3h3wJ0AyKEC47PQAlPs7gxZ-n3gRy-I6Q&oe=624527BA');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 100px 50px 50px 200px;

}
.info-box {
    background: rgb(255,255,255);
    height: 300px;
    width: 400px;
    margin-bottom: 50px;
    font-family: nimbus;
    text-align: center;
    font-size: 20px;
}
.statistic-container {
    background-image: url('https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/274265456_1575816952797630_1956474884761217610_n.png?_nc_cat=108&ccb=1-5&_nc_sid=ae9488&_nc_ohc=OTLU_PB8FPsAX-q4bUq&_nc_ht=scontent-cph2-1.xx&oh=03_AVKGGSpI9enL4FGjY7wGTtpcd93tvZYnGZjAUrZD6x-ILw&oe=62469F91');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    padding: 50px 100px 0px 50px;
}
.statistic-image {
    height: 250px;
    width: 500px;
}
/* INDEX SLUT */

/* ABOUTUS START */
.aboutus-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
}
.our-vision-container {
    background-image: url('https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1080px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.our-vision-container h2 {
    display: flex;
    flex-direction: column;
    margin: 0 0 150px 50px;
}
.our-vision-container p3 {
    display: flex;
    flex-direction: row;
    margin: 0 0 100px 20px;
    padding: 0 50% 0 5%;

}
.who-are-we-container {
    background-image: url('https://images.unsplash.com/photo-1490578474895-699cd4e2cf59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1080px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.aboutus-image1 {
    height: 400px;
    width: 600px;
    border: 1px solid black;
}
    /*#about-info-id {
        display: flex;
        margin-right: 20%;
    }*/


/* ABOUTUS SLUT */

/* BENEFICIALS START */
.beneficials-container {
    background-image: url('https://i.imgur.com/UaeA8HT.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 2%;
}
.beneficials-info1 p{
    float: left;
}
.beneficials-info2 p {
    float: right;
}
.beneficial-image {
    width: 400px;
    height: 250px;
    margin: 0 20px 0 20px;
    border: 1px solid black;
}

/* BENEFICIALS SLUT */

/* SIGNUP START */
.signup-container {
    background-image: url('https://i.imgur.com/K79ND5t.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.signupbutton{
    background-color: black;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}
.input {
    margin-right: 10px;
}
#input-box {
    margin-bottom: 20px;
}
/* SIGNUP SLUT */

/* TERMS AND CONDITIONS START */
.terms-container {
    background-image: url('https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/274213876_1245673155918649_2220102242020532911_n.png?_nc_cat=109&ccb=1-5&_nc_sid=ae9488&_nc_ohc=FXAQvfIKiAcAX-GRbv4&_nc_oc=AQk11eRXuvr_WOXYvyfr2Sjaz2oD_wgWxyEu62vhv-tEo7bwMdmQGby51AlUc3ftBYU&_nc_ht=scontent-cph2-1.xx&oh=03_AVL4snABO9w6_fULLWgYnnxNCLD8Wn7y7xF5MYWnE7MiLg&oe=6247C2E3');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* TERMS AND CONDITIONS SLUT */
