@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;0,600;1,800&family=Pacifico&display=swap');

body, html {
    height: 100%;
}
.navbar {
    background-color: rgb(255,255,255);
        position: relative;
}
h1 {
    font-size: 100px;
    color: black;
    font-family: "Noto Serif Display 800 italic";
}
h2 {
    font-size: 100px;
    font-family: 'Noto Serif Display 600';
}
h3 {
    font-family: 'Noto Serif Display 400';
    font-size: 75px;
}
p {
    color: black;
    font-family: 'Noto Serif Display 300';
}
.logo-image {
    width: 190px;
    height: 75px;
    overflow: hidden;
    margin-top: -6px;
}
/* GENEREL SLUT */

/* FOOTER START */
footer {
    background-color: rgb(255,255,255);
    width: 100%;
    height: 60px;
    clear: both;
}
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
}
.footer-phrase {
    display: flex;
    padding: 10px 0px 0px 35%;
}
.social {
    padding: 5px 10px 5px 10px;
}
.link-image {
    height: 35px;
    width: 35px;
}
/* FOOTER SLUT */

/* INDEX START */
.index-page {
    display: flex;
    flex-direction: column;
}
.slogan-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    background-image: url('https://i.imgur.com/q72pk2i.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    /*border: 10px solid rgb(255,255,255);*/
    /* ---Billeder skal være 1980x1080---  */
}
.slogan {
    margin-top: 25px;
    font-family: Pacifico;
}
.info-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 100px 50px 50px 200px;
    background-image: url('https://wallpapercave.com/wp/wp10401112.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    /*border: 10px solid rgb(253,254,214);*/
    /* ---Billeder skal være 1980x1080---  */
}
.info-box {
    border: 1px solid black;
    height: 300px;
    width: 400px;
    margin-bottom: 50px;
    background: rgb(255,255,255);
    opacity: 0.7;
}
.statistic-container {
    background-image: url('https://i.imgur.com/gW0xrRJ.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    /*border: 10px solid rgb(253,254,214);*/

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    padding: 50px 100px 0px 50px;
}
.statistic-image {
    width: 500px;
    height: 250px;
    /*border: 1px solid black;*/
}
/* INDEX SLUT */

/* ABOUTUS START */
.aboutus-container {
    background-image: url('https://i.imgur.com/UaeA8HT.jpeg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 10px solid rgb(255, 255, 255);
    padding-top: 3%;
}
.aboutus-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.aboutus-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1% 2% 1% 2%;
}
#about-info-id {
    display: flex;
    margin-right: 20%;
}
.aboutus-image1 {
    height: 400px;
    width: 600px;
    border: 1px solid black;
}


/* ABOUTUS SLUT */

/* BENEFICIALS START */
.beneficials-container {
    background-image: url('https://i.imgur.com/UaeA8HT.jpeg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /*border: 10px solid rgb(253,254,214);*/
    padding-top: 2%;
}
.beneficials-info1 p{
    float: left;
}
.beneficials-info2 p {
    float: right;
}
.beneficial-image {
    width: 400px;
    height: 250px;
    margin: 0 20px 0 20px;
    border: 1px solid black;
}

/* BENEFICIALS SLUT */

/* SIGNUP START */
.signup-container {
    background-image: url('https://i.imgur.com/K79ND5t.jpeg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*border: 10px solid rgb(253,254,214);*/
}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.signupbutton{
    background-color: black;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}
.input {
    margin-right: 10px;
}
#input-box {
    margin-bottom: 20px;
}
/* SIGNUP SLUT */