/* GENEREL START */

h1 {
    font-size: 100px;
    color: blue;
}
p {
    color: yellow;
}
.nav-link-signup {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}

/* GENEREL SLUT */

