<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static.css/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <a class="navbar-brand" href="/">
        <div class="logo-image">
            <img src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.15752-9/274856923_971514660419128_6462612760143838118_n.png?_nc_cat=105&ccb=1-5&_nc_sid=ae9488&_nc_ohc=ZUWRSiheoREAX-xTa56&_nc_ht=scontent-cph2-1.xx&oh=03_AVKMSmyE4eLoL8LhNgrw6akKvYrLlqoLis8z8Flbaw4O-g&oe=6245E9B7" class="img-fluid">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="aboutus">About Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="beneficials">Beneficials</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="signup">
                <button type="button" class="btn btn-dark btn-sm">Sign Up</button>
            </a>
        </form>
    </div>
</nav>
<div class="index-page">
    <div class="slogan-container">
        <br>
        <h1 class="slogan">Wasting food<br> ain't cool</h1><br><br><br><br>
        <p2>Donate your excess food to those in need<br> ↓</p2>

    </div>
    <div class="info-container">
        <ul class="info-box">
            <h2> ✔️<br>Deliver a meal in your own local neighborhood</h2>
            <p>Filler text that convinces you that you have to contribute to your local community</p>
        </ul>
        <ul class="info-box">
            <h2>💜<br>Make a difference for humanity and the planet</h2>
            <p>Some text that explains why foodwaste is bad for the planet and humanity</p>
        </ul>
    </div>
    <div class="statistic-container">
    </div>
</div>
</body>
<footer class="footer-container">
    <div class="footer-phrase">
        <p>Email: info@foodforthought.com - Phone: 911 - Address: 11 Spooning Street</p>
    </div>
    <div class="social-footer">
        <a class="social" href="https://www.instagram.com/p/BgSlRglAKBn/?hl=da">
            <img class="link-image" src="https://i.imgur.com/7Q3Wg1B.jpeg">
        </a>
        <a class="social" href="https://twitter.com/rickastley/status/1420479592486346757?lang=en">
            <img class="link-image" src="https://i.imgur.com/58QD7WU.png">
        </a>
        <a class="social" href="https://www.facebook.com/LyricsArtPH/videos/502836420746869">
            <img class="link-image" src="https://i.imgur.com/uUFWbtt.jpeg">
        </a>
        <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">
            <img class="link-image" src="https://i.imgur.com/wVe5c87.png">
        </a>
    </div>
</footer>
</html>